.git
.cache
.venv
nodeServer/node_modules*
nodeServer/env**
pocus_server/node_modules*
pocus_server/env**
.npm-debug.log
.env
# Git


# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/