{% extends 'base.html' %}
{% load static %}
{% static 'css/main.css' %}
{% block content %}
    <div class="container-fluid border border-secondary p-2 rounded mb-4">

    <h3 class="text-center">Congratulation Pocus</h3>
    <p>You won this game</p>
    <ul>
        <li>Health: {{ pocus.health }}</li>
        <li>Overall rounds won: {{ pocus.round }}</li>
    </ul>

    </div>


{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/main.js' %}"></script>
        {% endblock scripts %}